# MariaDB 5.5 repository list
# http://mariadb.org/mariadb/repositories/
deb http://ftp.osuosl.org/pub/mariadb/repo/5.5/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} main
deb-src http://ftp.osuosl.org/pub/mariadb/repo/5.5/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} main